/.vscode
/java/Library/nbproject/private/
/java/Library/build/
/java/JavaApplication1/src/UAS/nbproject/private/
/java/DesignPerangkatLunak/nbproject/private/
/java/DesignPerangkatLunak/build/
/java/Materi/nbproject/private/
